@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
	margin: 0;
	/* background-image: url("/images/contact_background.png"); */
}

.container {
	margin: 0px 20px 0px 20px;
	background-color: red;
}

/*contacts*/

.pic img {
	width: 100%;
}

.pic {
	position: relative;
	z-index: 1;
}

.title {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 3;
}

h1 {
	align-self: center;
	font-family: "Lexend";
	display: block;
	margin-bottom: 50px;
	max-width: 200px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 10px 10px 10px 10px;
	background-color: #e28fb2;
	margin-top: -100px;
}

.main-contactinformation {
	display: flex;
	flex-direction: column;
	background-color: blue;
	margin-top: -80px;
}

.contactinformation {
	align-self: center;
	display: flex;
	flex-direction: column;
	background-image: url("/images/orange_text.png");
	padding: 30px;
	max-width: 350px;
	position: relative;
	z-index: 2;
}

h2 {
	font-family: "Plus Jakarta Sans";
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: bold;
	line-height: 13px;
}

.contactinformation p {
	line-height: 13px;
	font-size: 8px;
}

.contactinformation h2,
.contactinformation p {
	font-family: "Plus Jakarta Sans";
	align-self: center;
}

/*map*/

.map-section {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.map {
	margin-bottom: 40px;
	width: 80%;
}

.map-line {
	display: flex;
	justify-content: center;
}

.adres p {
	font-size: 12px;
}

.adres {
	background-image: url("/images/purple_tape.png");
	padding: 10px;
	rotate: -8deg;
	display: flex;
	justify-content: flex-start;
	align-self: flex-start;
}
