@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
	margin: 0;
	padding: 0px;
	background-image: url("/images/inschrijven_background.png");
}

.inschrijven-body h1 {
	font-family: "Lexend";
	display: block;
	margin: 0 auto;
	max-width: 200px;
	font-size: 18px;
	text-align: center;
	padding: 10px 0px 10px 10px;
	rotate: -5deg;
	background-image: url("/images/tape_contact.png");
}

.sub-container {
	position: relative;
	width: 100%;
}

.pink_background {
	width: 100%;
	display: block;
}

.inschrijven-text {
	font-family: "Plus Jakarta Sans";
	font-size: 12px;
	margin-top: 50px;
	position: absolute;
	top: 40%;
	left: 9%;
	margin: 0 auto;
}

.informatie-button {
	position: absolute;
	top: 50%;
	left: 15%;
	margin: 0 auto;
	font-family: "Lexend";
	font-size: 10px;
	padding: 15px;
	border: 1px solid #f6d461;
	text-decoration: none;
	color: black;
	background-color: #f6d461;
	display: inline-block;
	padding: 10px 10px 10px 10px;
}

.oranje-kinderen {
	width: 40%;
	position: absolute;
	top: 47%;
	left: 55%;
	margin: 0 auto;
}

.stappenplan-container {
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #f8d1a4;
}

.stap_1_container,
.stap_2_container,
.stap_3_container {
	display: flex;
	flex-direction: column;
}

.stap_1_pic,
.stap_2_pic,
.stap_3_pic {
	max-width: 350px;
	width: 100%;
}
