@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
	margin: 0;
	background-image: url("./../images/inschrijven_background.png");
}

.container {
	margin: 40px 20px 0px 20px;
}

.main-block {
	display: flex;
	flex-direction: column;
}

.block {
	align-self: center;
	background-image: url("./../images/pink_paper_background.png");
	background-size: cover;
	background-repeat: no-repeat;
	align-self: center;
	margin-top: 80px;
	margin-bottom: 100px;
}

h1 {
	font-family: "Lexend";
	font-weight: bold;
	display: inline-table;
	font-size: 18px;
	text-align: center;
	padding: 10px;
	background-color: #489ad3;
}

.title {
	margin-top: -10px;
	margin-left: -10px;
}

.text {
	margin: 40px;
}

.block p {
	padding-left: 20px;
	padding-left: 20px;
	line-height: 1.2;
}

.info-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-top: 40px;
}

.information-button {
	margin: 0 auto;
	font-family: "Lexend";
	font-size: 10px;
	padding: 15px;
	text-decoration: none;
	color: black;
	background-color: #f6d461;
	display: inline-block;
}

.pic {
	width: 40%;
	margin-right: -20px;
	margin-bottom: -40px;
	align-self: flex-end;
}

.pic2,
.flower {
	display: none;
}

h2 {
	margin-top: -20px;
	margin-left: 10px;
	font-family: "Lexend";
	background-color: #7cc0ae;
	font-size: 14px;
	display: inline-block;
	padding: 10px 10px 10px 10px;
}

.plan-container {
	margin: 10px 15px 50px 15px;
	background-color: #f8d1a4;
}

.plan-container h3,
p,
ol {
	font-family: "Plus Jakarta Sans";
	padding-left: 20px;
	padding-right: 20px;
}

.plan-container h3 {
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 20px;
}

.plan-container p,
ol {
	font-size: 12px;
	line-height: 20px;
}

.plan-container ol {
	padding-bottom: 15px;
}

.step_1_container,
.step_2_container,
.step_3_container {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	padding-bottom: 35px;
}

.step_1_pic,
.step_2_pic,
.step_3_pic {
	max-width: 350px;
	margin: 0 auto;
	width: 45%;
	padding-bottom: 30px;
}

/*Computer /tablet version*/
@media (min-width: 480px) {
	.main-block {
		margin-bottom: 200px;
		background-image: url("./../images/ladybug_and_bee.png");
		background-repeat: no-repeat;
		background-position: 120% 10%;
	}

	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 21px;
	}

	.plan-container h3 {
		font-weight: bold;
		font-size: 18px;
	}

	.info-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		margin-top: 40px;
	}

	.information-button {
		margin-bottom: 10px;
		font-size: 12px;
	}

	p {
		font-size: 20px;
	}

	.pic {
		width: 60%;
		margin-right: -150px;
		margin-bottom: -200px;
	}

	.pic2 {
		display: block;
		width: 50%;
		margin-top: -200px;
		margin-left: -100px;
	}
	.flower {
		display: block;
		width: 15%;
		margin-top: -450px;
	}

	.container-2 {
		display: flex;
		flex-direction: row;
		width: 100%;
		align-content: center;
	}

	.plan-container p,
	ol {
		font-size: 16px;
		line-height: 1.6;
	}

	.step_1_pic,
	.step_2_pic,
	.step_3_pic {
		width: 60%;
	}

	.step_1,
	.step_2,
	.step_3 {
		display: flex;
		width: 100%;
		padding: 20px;
	}
}

@media screen and (min-width: 1024px) {
	.main-block {
		margin-bottom: 200px;
		background-image: url("../images/ladybug_and_bee.png");
		background-repeat: no-repeat;
		background-position: 120% 10%;
	}

	.pic2 {
		display: block;
		width: 50%;
		margin-top: -200px;
		margin-left: -100px;
	}

	.flower {
		display: block;
		width: 15%;
		margin-top: -450px;
	}
}
