@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
	margin: 0;
	padding: 0px;
	background-image: url("/images/inschrijven_background.png");
}

.inschrijven-body h1 {
	font-family: "Lexend";
	display: block;
	margin: 0 auto;
	max-width: 200px;
	font-size: 18px;
	text-align: center;
	padding: 10px 0px 10px 10px;
	rotate: -5deg;
	background-image: url("/images/tape_contact.png");
}

.inschrijven-text {
	font-family: "Plus Jakarta Sans";
	font-size: 12px;
	margin-top: 50px;
	display: flex;
	max-width: 500px;
	flex-direction: column;
	box-sizing: border-box;
	padding: 100px 50px 0px 50px;
	width: 100vw;
	background-image: url("./../images/pink_paper_background.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0 auto;
	gap: 20px;
}

.inschrijven-text p {
	max-width: 275px;
	padding-left: 20px;
}

.informatie-button {
	margin: 0 auto;
	font-family: "Lexend";
	font-size: 10px;
	padding: 15px;
	border: 1px solid #f6d461;
	text-decoration: none;
	color: black;
	background-color: #f6d461;
	display: inline-block;
	padding: 10px 10px 10px 10px;
}

.oranje-kinderen {
	width: 40%;
	margin-top: -50px;
	margin-left: 200px;
}

.inschrijven-body h2 {
	margin-top: 50px;
	margin-left: 10px;
	font-family: "Lexend";
	background-color: #7cc0ae;
	font-size: 14px;
	display: inline-block;
	padding: 10px 10px 10px 10px;
}

.stappenplan-container {
	margin: 10px 15px 50px 15px;
	background-color: #f8d1a4;
}

.stap_1_container,
.stap_2_container,
.stap_3_container {
	display: flex;
	flex-direction: column;
}

.stap_1_pic,
.stap_2_pic,
.stap_3_pic {
	max-width: 350px;
	width: 100%;
}
