h1 {
	font-size: 18px;
	font-family: "Lexend";
	font-weight: bold;
	margin-bottom: 15px;
}

.KeuzeTitle h1 {
	background-color: #edd676;
	padding: 10px;
}

h2 {
	font-size: 14px;
	font-family: "Plus Jakarta Sans";
}

h3,
p {
	font-size: 12px;
}

.bodyKlassen {
	background-image: url("../images/wallpaper.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
}

.TeacherPictures {
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.TeacherPicture {
	width: 100px;
	height: auto;
	object-fit: cover; /* https://www.w3schools.com/css/css3_object-fit.asp */
}

.PeuterInfo {
	background-color: #f5f5f5;
	padding: 20px;
	margin: 30px;
	width: 100%;
}

.PeuterInfo h1 {
	font-size: 18px;
	color: #2c3e50;
	margin-bottom: 15px;
}

.PeuterInfo h2 {
	font-size: 14px;
	margin-bottom: 15px;
}

.PeuterClassroom {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

.PeuterklassFoto {
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.PeuterClassroom h2 {
	font-size: 14px;
	color: #34495e;
	text-align: left;
	line-height: 1.5;
}

.classroom-info {
	display: none;
}

.classroom-info.active {
	display: block;
}

.classroom-info {
	display: none;
	margin-top: 20px;
	padding: 10px;
}

.active {
	display: block;
}

.KeuzeTitle {
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
}

.button-group button {
	margin: 2px;
	padding: 10px 15px;
	display: flex;
	width: 100px;
	height: 50px;
	justify-content: center;
	align-items: center;
	font-family: "Plus Jakarta Sans";
	background-color: #c2b2d3;
}

.button-group button.active-button {
	background-color: #9b8da9;
	color: white;
}

.button-group {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.Buttonrow1 {
	display: flex;
	justify-content: center;
}

.Buttonrow2 {
	display: flex;

	justify-content: center;
}

.Buttonrow3 {
	display: flex;

	justify-content: center;
}

.sezerText {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (min-width: 920px) {
	.layout-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		gap: 20px;
		padding: 20px;
	}

	.PeuterklassFoto {
		max-width: 40rem;
		height: auto;
		margin-bottom: 15px;
	}

	.PeuterInfo h1 {
		font-size: 30px;
	}

	.PeuterInfo h2 {
		font-size: 22px;
	}

	.classroom-info {
		display: none;
		/* margin-top: 20px; */
		/* padding: 10px; */
	}

	.TeacherPicture {
		width: 200px;
		height: auto;
		object-fit: cover;
	}

	.button-group {
		flex: 0 0 250px;
		align-items: center;
	}

	.Buttonrow1 {
		flex-direction: column;
		align-items: flex-start;
		width: 400px;

		margin-top: 55px;
	}

	.Buttonrow2,
	.Buttonrow3 {
		flex-direction: column;
		align-items: flex-start;
		width: 400px;
		height: 200px;
	}

	.button-group button {
		font-size: 22px;
	}

	.button-group button {
		width: 100%;
	}

	.KeuzeTitle h1 {
		background-color: #edd676;
		padding: 10px;
		font-size: 30px;
	}
}
