@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
	margin: 0;
	background-color: #ebe2de;
}

.container-ripped {
	background-image: url("/images/ripped_paper_up.png");
	background-repeat: no-repeat;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 18px;
	font-family: "Lexend";
	font-weight: bold;
	background-color: #ec9c4a;
	padding: 10px 10px 10px 10px;
	rotate: 8deg;
	margin: 5px 5px 20px 5px;
}

h2,
h3 {
	font-size: 12px;
	font-family: "Plus Jakarta Sans";
}

.container p {
	font-size: 12px;
	font-family: "Plus Jakarta Sans";
	display: inline-block;
	line-height: 20px;
	margin: 10px 70px 100px 70px;
}

.blog p {
	font-size: 12px;
	line-height: 20px;
}

.blog {
	margin: 30px 25px 30px 25px;
	background-color: red;
}

.blog img {
	width: 100%;
}

.blog h2,
h3,
p {
	margin-top: 20px 0px 20px 0px;
}

.title-1,
.title-2,
.title-3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.item-1,
.item-2,
.item-3 {
	margin: 50px 20px 50px 20px;
}

.container-end {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	/*align-items en niet justify content, want we werken met kolommen*/
	align-items: center;
	background-image: url("/images/ripped_paper_down.png");
}

.container-end h2 {
	font-size: 14px;
}

.container-end h2 {
	margin-bottom: 30px;
}

.facebook {
	height: 90px;
}
