/* general */
.header-background {
	z-index: -1;
	position: relative;
	width: 100%;
}

.header-background img {
	position: absolute;
	max-width: 100%;
	height: auto;
}

/* desktop screens*/

/* style1 */

/* style2 */

/* style3 */

/* phone screens */
@media screen and (max-width: 480px) {
}
