@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/*Startpagina begin*/
body {
	margin: 0;
	background-image: url("/images/start_background.png");
}

h1 {
	margin-top: 20px;
	margin-bottom: 60px;
	font-size: 18px;
	font-family: "Lexend";
	font-weight: bold;
	rotate: 10deg;
	background-color: #7cc0ae;
	padding: 10px 10px 10px 10px;
	display: inline-block;
}

h2,
h3 {
	font-size: 14px;
	font-family: "Plus Jakarta Sans";
}

h2,
p,
ol {
	line-height: 20px;
}

p,
ol {
	font-family: "Plus Jakarta Sans";
	font-size: 12px;
}

.call-to-action {
	font-family: "Plus Jakarta Sans";
	font-size: 12px;
	text-decoration: none;
	color: black;
	background-color: aqua;
}

.container-intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.item {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
}

.pink_tape {
	position: absolute;
	top: 40%;
	left: -5%;
	width: 100px;
	z-index: 2;
}

.item-2 {
	position: relative;
	background-color: #fcd7dc;
	margin: 0px 20px 10px 20px;
	padding: 20px;
	z-index: 1;
}

.pink_tape_2 {
	position: absolute;
	bottom: 18%;
	right: -2%;
	width: 100px;
	z-index: 2;
}

.item-3 {
	margin-top: 50px;
	margin-bottom: 20px;
	background-image: url("/images/infomoment_background.png");
}

.item-3 h3 {
	padding: 20px;
	background-image: url("/images/bling_bling_tape.png");
	background-repeat: no-repeat;
	font-weight: bold;
	color: white;
}

.item-3 p {
	background-image: url("/images/infomoment_background.png");
}

.item-4 {
	background-color: yellow;
}
