@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/*styling for h1, h2, etc + style fonts */
h1 {
	font-family: "Lexend";
	font-size: 18px;
}

h2 {
	font-family: "Plus Jakarta Sans";
	font-size: 14px;
}

h3 {
	font-family: "Plus Jakarta Sans";
	font-size: 14px;
}

p {
	font-family: "Plus Jakarta Sans";
	font-size: 12pt;
}

b,
strong {
	font-weight: 700;
}

em,
i {
	font-style: italic;
}

/* button styling */
button.primary.active {
	background-color: #d96c94;
	color: black;
	border: none;
	padding: 10px 20px;
	font-family: Kavoon;
	font-size: 16px;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button.primary.hover {
	background-color: #a32654;
	color: black;
	border: none;
	padding: 10px 20px;
	font-family: Kavoon;
	font-size: 16px;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button.secondary.active {
	background-color: #f3c16d;
	color: black;
	border: none;
	padding: 10px 20px;
	font-family: Kavoon;
	font-size: 16px;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button.secondary.hover {
	background-color: #a87725;
	color: black;
	border: none;
	padding: 10px 20px;
	font-family: Kavoon;
	font-size: 16px;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

text {
	font-family: "Kavoon";
}

.button.Submit {
	background-color: #a87725;
}

.square {
	width: 100px;
	height: 100px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
}

.Colours {
	display: flex;
	justify-content: start;
	align-items: center;
	margin: 100;
	background-color: #f4f4f4;
}

.grid {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 10px;
}

.square-1 {
	background: #f3c16d;
	font-size: 15px;
}

.square-2 {
	background: #7cc0ae;
	color: #000000;
	font-size: 15px;
}

.square-3 {
	background: #d96c94;
	font-size: 15px;
}

.square-4 {
	background: #f1cbbd;
	color: #000000;
	font-size: 15px;
}

.square-5 {
	background: #489ad3;
	color: #000000;
	font-size: 15px;
}

.square-6 {
	background: #ec9c4a;
	color: #000000;
	font-size: 15px;
}

.square-7 {
	background: #ffcf2d;
	color: #000000;
	font-size: 15px;
}

.square-8 {
	background: #bdace2;
	color: #000000;
	font-size: 15px;
}

.square-9 {
	background: #85cac0;
	color: #000000;
	font-size: 15px;
}

.square-10 {
	background: #f7d5ac;
	color: #000000;
	font-size: 15px;
}

* {
	box-sizing: border-box;
	font-family: "Arial", sans-serif;
}

h1 {
	font-size: 28px;
	color: #333;
}
/*navigatie begin*/
.logo {
	height: 30px;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 20px;
}

.navigation {
	padding: 8px 8px 40px 8px;
	display: flex;
	justify-content: space-between;
}

.Nieuws,
.Contact {
	text-decoration: none;
	font-size: 10px;
	padding: 10px;
	font-family: "Plus Jakarta Sans";
}

.Nieuws {
	display: inline-block;
	padding: 10px 20px;
	background-color: #ec9c4a;
	color: white;
}

.Contact {
	display: inline-block;
	padding: 10px 20px;
	background-color: #e28fb2;
	color: white;
}

.footerwrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.footerwrapper div{
	flex: 1;
}

.footer1 img {
	width: 20%;
}

.footer1 {
	flex-direction: column;
	background-color: yellow;
}

.footer1 p {
	padding-top: 6px;
}

.footer2 {
	display: flex;
	flex-direction: column;
	background-color: grey;
	
}

.footer2 p {
	padding-top: 6px;
}

.footer3 {
	display: flex;
	flex-direction: column;
	background-color: green;
}

.footer3 p {
	padding-top: 6px;
}

.footer4 {
	display: flex;
	flex-direction: column;
	background-color: red;
}

.footer4 p {
	padding-top: 6px;

}

.footer4 img {
	width: 100%
}


/*----------------------------------------------------------------------------------------------------------------------------------------------*/

/*navigatie begin*/
.logo {
    height: 30px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
}
 
.navigation {
    padding: 8px 8px 40px 8px;
    display: flex;
    justify-content: space-between;
}
 
.Nieuws,
.Contact {
    text-decoration: none;
    font-size: 10px;
    padding: 10px;
    font-family: "Plus Jakarta Sans";
}
 
.Nieuws {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ec9c4a;
    color: white;
}
 
.Contact {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e28fb2;
    color: white;
}
/*Dropdown button*/
.dropbtn_1,
.dropbtn_2 {
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
}
 
.dropbtn_1 {
    background-color: #f3c16d;
}
 
.dropbtn_2 {
    background-color: #489ad3;
}
/*Dropdown button*/
.dropbtn_1,
.dropbtn_2 {
	color: white;
	padding: 10px;
	font-size: 10px;
	border: none;
}

.dropbtn_1 {
	background-color: #f3c16d;
}

.dropbtn_2 {
	background-color: #489ad3;
}
/* The container <div> - needed to position the dropdown content */
.dropdown_1,
.dropdown_2 {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content_1,
.dropdown-content_2 {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content_1 a,
.dropdown-content_2 a {
	color: black;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	display: block;
	font-family: "Plus Jakarta Sans";
	font-size: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content_1 a:hover,
.dropdown-content_2 a:hover {
	background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown_1:hover .dropdown-content_1 {
	display: block;
}

.dropdown_2:hover .dropdown-content_2 {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown_1:hover .dropbtn_1 {
	background-color: #3e8e41;
}

.dropdown_2:hover .dropbtn_2 {
	background-color: #3e8e41;
}

/*navigatie einde*/

/*footer begin*/
.footer {
	display: inline-block;
	width: 100%;
	background-color: #fdf6ec;
	padding: 0 60px 30px 60px;
}

.footer p {
	font-family: "Plus Jakarta Sans";
	font-size: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.footer-logo {
	margin-top: 20px;
	margin-bottom: 10px;
	height: 30px;
}

.phone-icon,
.mail-icon,
.map-icon {
	height: 15px;
}

.facebook-icon {
	height: 20px;
}

.icon-line-1,
.icon-line-2,
.icon-line-3 {
	display: flex;
	align-items: center;
	/*ruimte tussen de iconen en de tekst*/
	gap: 5px;
}

.icon-line-2 {
	margin: 0 auto;
	max-width: 200px;
}

.map-line-footer {
	margin: 0 auto;
	max-width: 200px;
}

.kaart {
	max-width: 250px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.visie-footer,
.bredeschool-footer,
.klassen-footer,
.inschrijven-footer,
.contact-footer,
.nieuws-footer,
.praktischeinformatie-footer {
	font-family: "Plus Jakarta Sans";
	font-size: 10px;
	text-decoration: none;
	color: black;
	padding-top: 8px;
	padding-bottom: 8px;
	text-decoration: underline;
}

.links-footer {
	display: flex;
	justify-content: space-between;
}

.item_row_1,
.item_row_2 {
	display: flex;
	flex-direction: column;
}